*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section__p {
    background-color: #f1f1f1;
    height: 250px;
    width: auto;
    padding: 48px 80px;
    display: block;
    font-size: 16px;
    line-height: 28.8px;
    text-decoration: none solid rgb(102, 102, 102);
    text-align: center;
    display: block;
    color: rgb(102, 102, 102) ; 
} 
.section__p2 {
    background-color: rgb(40, 46, 52);
    height: 250px;
    width: auto;
    padding: 48px 80px;
    display: block;
    font-size: 16px;
    line-height: 28.8px;
    text-decoration: none solid rgb(102, 102, 102);
    text-align: center;
    background-position: 0% 0%;
    display: block;
    color: rgb(221, 221, 221) ; 
} 

span {
    font-weight: bold;
}

.container {
    background-image: url(../Images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    letter-spacing: 8px;
    height: 712px;
    width: 100%;    
}
.container__image {
    background-attachment: fixed;
    display: flex;  
    
}
.clarusway {
    line-height: 80px;
    background-color: rgb(24, 22, 22);
    color: white;
    height: auto;
    width: auto;
    padding: 15px;
    display: inline;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    outline-offset: 10px;
    outline: 8px inset purple;
}
.container2 {
    background-image: url(../Images/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    letter-spacing: 8px;
    height: 712px;
    width: auto;  
}

#claruswaylogo {
    height:94.85px;
    width: 455.75px;
    margin: 16px;
}

.container3 {
    background-image: url(../Images/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    letter-spacing: 8px;
    height: 712px;
    width: ; 
}

.reinvent {
    line-height: 80px;
    background-color: rgb(24, 22, 22);
    color: white;
    height: auto;
    width: auto;
    padding: 3px 32px;
    display: inline;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    outline-offset: 10px;
    outline: 8px inset purple;
}

.container4 {
    background-image: url(../Images/bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    letter-spacing: 8px;
    height: 712px;
    width: ; 
}
h2 {
    text-align: center;
    margin: 20px 0;
    width: 1359.2px;
    height: 28.8px;
    margin: 8px;
}

